@font-face {
    font-family: Sora;
    src: url(https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;500;600;700;800&display=swap);
}

::-webkit-scrollbar {
    width: 5px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
    cursor: pointer;
}

:root {
    --dark: #2f2f2f;
    --light: #f2f2f2;
    --primary: #E73825;
    --secondary: #F47B20;
}

* {
    box-sizing: border-box;
    font-family: Sora;
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--light);
}

.page1 {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

/* Header */
header {
    z-index: 9999;
    /* background: linear-gradient(to bottom, rgba(236, 236, 236, 0.9));
    backdrop-filter: blur(3.5px); */
    background-color: var(--light);
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .nav1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav1 h3 {
    color: var(--dark);
    font-weight: 700;
}

header .nav1 img {
    height: 30px;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav2 a {
    color: var(--dark);
    font-weight: 600;
    transition: all 0.5s ease;
}

.nav2 .active {
    border-bottom: 1px solid var(--dark);
    color: var(--primary);
}

.menu {
    font-size: 18px;
}

.nav2 a:hover {
    color: var(--primary);
}

#btn {
    padding: 7px 25px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    border-radius: 100px;
    color: var(--light);
    transition: all 0.5s ease;
}

#btn:hover {
    background: var(--dark);
}

.nav3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav3 .menu {
    display: none;
}


.nav2.active {
    height: fit-content;
    padding: 10px 0;
}

.nav2.active a {
    display: block;
}

@media (max-width:600px) {
    .nav3 .menu {
        display: block;
        font-size: 18px;
    }

    .nav3 .menu:hover .nav2 {
        transform: translateY(100%);
    }

    .nav2 {
        align-items: center;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--light);
        /* background: linear-gradient(to bottom, var(--light), transparent);
        backdrop-filter: blur(3.5px); */
        transition: all 0.5s ease;
        flex-direction: column;
    }

    .nav2 a {
        display: none;
    }

}